@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Press+Start+2P&display=swap');


.bard-back-text {
    position: absolute;
    z-index: 11;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 28%;
    font-size: 1.45em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    line-height: 1.2em;
}
