@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Press+Start+2P&display=swap');

.dung-card-desc {}

.dungeon-card-damage-img {
    bottom: 0%;
    z-index: 9;
}

.dungeon-card-damage {
    /* background-color: red; */
    z-index: 10;
    bottom: 7%;
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
    left: 18.7%;
    transform: translateX(-50%);
}

.dungeon-card-type {
    width: 100%;
    text-align: center;
    transform: translateX(-45%);
}

.dung-card-name {
    width: fit-content;
    text-align: center;
    white-space: nowrap;
}
