.hero-to-move-marker-wrapper {
    /* background-color: red; */
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20em;
    opacity: 0.50;
}

.hero-marker-img {
    max-width: 75%;
    filter: grayscale();
}
