.text-choice-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
    gap: 15px;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.text-choice-holder:hover {
    background-color: rgb(56, 56, 56);
}

.text-choice {
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
}

.universal-selection-choices-holder {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.universal-selection-wrapper {
    border-radius: 3rem;
    max-height: 70vh;
    height: 100%;
}
